body {
    background-image: url("./4880172.jpg");
    background-size: cover;
    background-position: center; 
    
}

.footer {
    margin-top: 20px; 
}

.redes-sociais li {
    display: inline-block;
    margin-right: 20px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 50%; 
}
.redes-sociais li:last-child{
    margin-right: 0;
}

.btn-home {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.custom-search {
    position: relative;
    display: inline-block;
}

#filtroPesquisa {
    padding-right: 40px; /* Espaçamento para o ícone */
    width: 100%; /* Preenchimento total da largura disponível */
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #666;
    cursor: pointer;
}

/* Estilo para o ícone */
.search-icon i {
    font-size: 20px;
}

.card-text{
    max-height: calc(1.2em * 6); /* Altura máxima de 5 linhas */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura máxima */
    scrollbar-width: thin;
}

